# Raw data
Data/raw/

# Metadata
Data/*.pdf

# Full processed data (local only)
Data/cleaned_full/

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
